* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #110018;
  opacity: 0.9;
  background-image:  linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077);
  background-size: 26px 46px;
  background-position: 0 0, 0 0, 13px 23px, 13px 23px, 0 0, 13px 23px;
  color: white;

  font-family: sans-serif;
}

body #container {
  text-align: center;

  max-width: 25rem;

  padding-top: 6rem;
  margin-inline: auto;
}

#container h1 {
  font-size: 2rem;
  padding-inline: 1rem;
}

#container img {
  margin-bottom: 1rem;
}

#container p {
  font-size: 0.9rem;
  opacity: 0.7;

  margin-bottom: 1.3rem;
  margin-top: 0.5rem;
  padding-inline: 20px;
}

#container input,
button {
  margin: auto;
  display: block;
}

#container input {
  margin-top: 1rem;
  margin-bottom: -1rem;

  padding-inline: 1rem;
  padding-block: 1.3rem;

  width: 21.8rem;

  border: 1px solid;
  border-radius: 0.3rem;

  font-size: 1.2rem;
}

#container button {
  background-color: blueviolet;
  color: white;

  text-align: center;

  padding-inline: 1rem;
  padding-block: 1.3rem;

  width: 21.8rem;

  margin-top: 0.5rem;

  font-size: 1.2rem;

  border: 1px solid none;
  border-radius: 0.3rem;
}

#container button:hover {
  cursor: pointer;
  background-color: #9e41f6;
  transition: 400ms;
}

#resposta {
  margin-top: 1rem;

  transition: opacity 1s;
}

#resposta div {
  font-size: 0.9rem;
  font-weight: normal;

  opacity: 0.9;

  margin-bottom: 0.7rem;
}
